<img src="assets/icon.svg" alt="icon" height="48px" width="48px" />

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
    <div class="w-10 rounded-full">
      <img
        alt="profile"
        referrerpolicy="no-referrer"
        src="assets/avatar_one.png"
      />
    </div>
  </div>
  <ul
    class="menu menu-md dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li>
      <a class="justify-between">
        Profile
        <span class="badge">New</span>
      </a>
    </li>
    <li><a>Settings</a></li>
    <li><a>Logout</a></li>
  </ul>
</div>
