<div class="flex justify-between items-end p-2 flex-shrink-0 pl-4 pr-4">
  <div class="flex flex-col gap-4 w-full" *ngIf="project">
    <span class="text-lg font-bold">{{ project.title }}</span>
    <span class="text-gray-600 text-sm">{{ project.description }}</span>
    <div class="flex items-center gap-y-4 flex-wrap">
      <div class="w-8">
        <img class="rounded-full" alt="profile" src="assets/avatar_two.jpg" />
      </div>

      <div class="w-8">
        <img class="rounded-full" alt="profile" src="assets/avatar_one.png" />
      </div>

      <button class="btn btn-primary btn-sm btn-circle">+</button>

      <span class="flex-grow min-w-4"></span>

      <button
        (click)="onCreateClick()"
        class="btn btn-primary rounded-2xl min-w-80"
      >
        + Add new Task
      </button>
    </div>
  </div>
</div>

<div class="w-full h-[1px] bg-gray-300"></div>

<ng-icon
  [routerLink]="'../..'"
  size="24px"
  class="absolute top-4 left-4 text-gray-600 rounded-full hover:cursor-pointer"
  name="heroArrowLeft"
></ng-icon>

<div
  class="overflow-auto grid grid-cols-1 gap-y-16 gap-x-4 pt-12 p-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 pb-16"
>
  <app-task-card
    (editClick)="onEditClick(task)"
    class="shadow-lg bg-white rounded-2xl border-gray-300 border hover:scale-[1.01] hover:shadow-2xl"
    [task]="task"
    *ngFor="let task of tasks$ | async"
  ></app-task-card>
</div>

<app-task-form-dialog
  #taskFormDialog
  [entity]="selectedTask"
  (onSubmit)="onSubmit($event)"
></app-task-form-dialog>
